@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 20 18% 93%;
    --foreground: 220 15% 16%;
    --card: 222.2 8% 95%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 197 100% 16%;
    --primary-foreground: 222.2 8% 95%;
    --secondary: 11 77% 66%;
    --secondary-foreground: 0 0% 20%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 203 51% 25%;
    --accent: 11 77% 66%;
    --accent-foreground: 0 0% 20%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 222.2 7.6% 52.9%;
    --ring: 221.2 13.2% 53.3%;
    --radius: 0.75rem;
    --warning: 10 64% 55%;
    --warning-foreground: 48 96% 89%;
    --success: 136 61% 25%;
    --success-foreground: 136 61% 85%;
    --editor-blue: 217 90% 30%;
    --editor-green: 92 90% 25%;
    --editor-orange: 21 90% 30%;
    --editor-yellow: 39 90% 30%;
  }
  .dark {
      --background: 212 38% 10%;
  --foreground: 212 5% 100%;
  --card: 212 18% 19%;
  --card-foreground: 212 5% 100%;
  --popover: 212 38% 5%;
  --popover-foreground: 212 5% 100%;
  --primary: 212 16% 73%;
  --primary-foreground: 0 0% 0%;
  --secondary: 212 30% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 174 30% 25%;
  --muted-foreground: 212 5% 65%;
  --accent: 174 30% 25%;
  --accent-foreground: 212 5% 95%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 212 5% 100%;
  --border: 212 30% 50%;
  --input: 212 30% 50%;
  --ring: 212 16% 73%;
  --radius: 0.5rem;
    --warning: 10 64% 55%;
    --warning-foreground: 48 96% 89%;
    --success: 136 61% 67%;
    --success-foreground: 136 61% 15%;
    --editor-blue: 217 90% 30%;
    --editor-green: 92 90% 25%;
    --editor-orange: 21 90% 30%;
    --editor-yellow: 39 90% 30%;
  }

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background font-sans leading-relaxed text-foreground;
  }
  /* add montserrat font for headings */
  h1 {
    @apply !text-4xl !font-bold !my-5;
  }
  h2 {
    @apply !text-2xl !my-3;
  }
  h3 {
    @apply !text-xl !font-bold !mt-3 !mb-1
  }
  h6 {
    @apply font-montserrat;
  }
}


@font-face {
  font-family: "Beckman";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/bennBeckmanMedium.woff2) format("woff2");
}

@font-face {
  font-family: "WorkSans";
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/WorkSans-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: "LibreFranklin";
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/LibreFranklin-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: "Inconsolata";
  font-weight: 100 900;
  font-display: swap;
  src: url(/fonts/Inconsolata-VariableFont_wght.ttf) format("truetype");
}

.CollapsibleContent {
  overflow: hidden;
  white-space: nowrap;
}
.CollapsibleContent[data-state="open"] {
  animation: slideIn 300ms ease-out;
}
.CollapsibleContent[data-state="closed"] {
  animation: slideOut 300ms ease-out;
}

@keyframes slideIn {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: var(--radix-collapsible-content-width);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    width: var(--radix-collapsible-content-width);
    opacity: 1;
  }
  to {
    width: 0;
    opacity: 0;
  }
}

.link {
  @apply font-bold text-foreground underline hover:text-success;
}

.blockquote {
  @apply text-foreground;
}

.custom-code {
  @apply font-mono text-foreground;
}

/* CSS for Radix UI Toggle Group Items based on their state */
[data-state="on"] {
  @apply border border-accent bg-accent text-accent-foreground;
}

[data-state="off"] {
  @apply border border-gray-300 bg-muted text-muted-foreground;
}

/* override the tiptap default */
.tippy-box {
  max-width: fit-content !important;
}

/* Adds typing effect */
.word {
  opacity: 0; /* Initially hidden */
  transition: opacity 0.5s ease-in-out;
}

.visible {
  opacity: 1 !important; /* Set visible when the observer detects entry */
}

